.box {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    font-size: 24px;
    font-weight: bold;
}